.column {
    flex: 33.33%;
    padding: 50px;
  }

  .row {
    display: flex;
  }

  .image8 {
    position: relative;
    bottom: 30px;
    height: 180px;
    width: 500px;
    left: 1px;

}

.btn{
    position: absolute;
    left: 1430px;
    color: white;
    background-color: #8880C6;
}


  .dropdown-menu{
    background-color: #8880C6;
}

.btn:hover{
    background-color: white;
}

